In [4]:
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

import env
import wrangle

In [7]:
df = wrangle.wrangle_telco()
df

      monthly_charges  tenure  total_charges
0              109.70      71        7904.25
1               84.65      63        5377.80
2               90.45      65        5957.90
3               45.20      54        2460.55
4              116.80      72        8456.75
...               ...     ...            ...
1690            24.40      71        1725.40
1691            19.25      67        1372.90
1692            19.75      46         856.50
1693            67.85      67        4627.65
1694            59.00      63        3707.60

[1695 rows x 3 columns]

1. Write a function named `plot_variable_pairs` that accepts a dataframe as input and plots all of the pairwise relationships along with the regression line for each pair.

In [ ]:
def plot_variable_pairs(df):

2. Write a function named `months_to_years` that accepts your telco churn dataframe and returns a dataframe with a new feature `tenure_years`, in complete years as a customer.

3. Write a function named `plot_categorical_and_continuous_vars` that accepts your dataframe and the name of the columns that hold the continuous and categorical features and outputs 3 different plots for visualizing a categorical variable and a continuous variable.

4. Save the functions you have written to create visualizations in a file named `explore.py`. Rewrite your notebook code so that you are using the functions imported from this file.

5. Explore your dataset with any other visualizations you think will be helpful.

6. In a seperate notebook, use the functions you have developed in this exercise with the mall customers dataset.